[
  {
    "name": "${NAME}",
    "image": "${IMAGE}",
    "essential": true,
    "logConfiguration": {
      "logDriver": "awslogs",
      "options": {
        "awslogs-region": "eu-west-1",
        "awslogs-group": "${LOGS_GROUP}",
        "awslogs-stream-prefix": "${NAME}"
      }
    },
    %{ if 0 < length(COMMAND) }"command": ${jsonencode(COMMAND)},%{ endif }
    %{ if 0 < length(ENTRYPOINT) }"entryPoint": ${jsonencode(ENTRYPOINT)},%{ endif }
    "environment": ${jsonencode(ENV_VARS)}
  }
]